/*
* @Author: Christian Rebelsky
* @Date:   2014-05-21 06:58:29
* @Last Modified by:   Christian Rebelsky
* @Last Modified time: 2014-06-03 08:24:40
*/
@import "compass/css3";
//@import "compass/layout/sticky-footer";

//@include sticky-footer(72px, "#container", "#layout_footer", "#footer");


@import
    "settings",
    "foundation";

body {
    overflow:hidden;
}
.logo{
    width:250px;
    height:250px;
    //background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgdmlld0JveD0iLTEzMi44MjggLTUuODIzIDgwMCA2MDAiPjxwYXRoIGZpbGw9IiNCRkQxQ0EiIGQ9Ik0yOTIuNzM1IDU4OC4zNTRMMCAwaDI0MC41M2w1LjI3IDEwLjQ1N0gxNi44OWwyNzUuODg4IDU1NC40OTJsMTM4LjAzLTI3NC43MDRMMjg1LjY5MSAwaDMwMi42NTIgTDQ0Mi41MSAyOTAuMjU3bDE0NC4zODUgMjg4LjcyMmwtMTEuNzA1IDAuMDEzTDQzNi42NSAzMDEuOTE4TDI5Mi43MzUgNTg4LjM1NHogTTMwMi42MDIgMTAuNDU3TDQzNi42NyAyNzguNTg4TDU3MS4zOTEgMTAuNSBIMzAyLjYwMnoiLz48L3N2Zz4=) no-repeat;
    margin: 0 auto;
}
.no-svg .logo{
    //background: url(images/logo.png) no-repeat;
}

#footer{
    ul{
        list-style-type: none;
        li{
            float:left;
        }
    }
}