---
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import Layout from '@layouts/index.astro'
---

<Layout page="Home">
  <Header page="Home" />
  <main
    class="col-span-1 md:col-span-10 md:col-start-3 md:col-end-11 grid place-items-center"
  >
    <a
      href="/"
      class={`h-full flex items-center justify-center py-12`}
    >
      <img
        src="/logo-light.svg"
        width="200"
        height="200"
        alt="Christian Rebelsky Logo"
      />
    </a>
    <h1 class="hero-teaser">Coming Soon</h1>
  </main>
  <Footer />
</Layout>
