---
export interface IHeaderProps {
  page: string
}
const { page } = Astro.props as IHeaderProps
---

<header
  class={`col-span-full grid place-items-center h-[232px] max-h-[232px]py-4 ${page === 'Home' && 'hidden'}`}
>
  <a href="/" class={`h-full flex items-center justify-center `}>
    <img
      src="/logo-light.svg"
      width="200"
      height="200"
      alt="Christian Rebelsky Logo"
    />
  </a>
</header>
